{{ define "main" }}
    <main aria-role="main">
        <div>
            {{ if .Site.Params.Portrait.Path }}
               <img src="{{ .Site.Params.Portrait.Path }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
            {{ end }}

            <h1>"Hi, My Name Is Zaqi"</h1>
            <p>Gadget Reviewer, Tech Enthusiast, and Independent</p>

            <p tyle="line-height: 100%;">Mobile Technology Consultant</p>

            {{- with .Site.Params.social }}

                <div>

                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
        </div>
    </main>
{{ end }}
